.container {
  height: 20px;
  background-color: #e0e0de;
  border-radius: 15px;
  margin: 25px;
}

.filler {
  height: 100%;
  text-align: center;
  background-color: #f9db9d;
  border-radius: inherit;
}

.filler--green {
  background-color: green;
}

.filler--red {
  background-color: #af0202;
}

.label {
  padding: 5px;
  color: white;
  font-weight: bold;
}
