.card {
  margin: 0 auto;
  perspective: 1100px;
  position: relative;
  cursor: pointer;
  width: 160px;
  height: 270px;
  /* margin-top: 10px; */
}

.card__side {
  transition: all 0.8s ease;
  margin-bottom: 30px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}

.card__side--front {
}

.card__side--back {
  transform: rotateY(-180deg);
}

.card--active > .card__side.card__side--front {
  transform: rotateY(180deg);
}

.card--active > .card__side.card__side--back {
  transform: rotateY(0);
}

/* .card > .card__side.card__side--front {
  color: red;
} */

.card__image {
  width: 100%;
  border-radius: 15px;
  outline: 2px solid black;
  outline-offset: -2px;
}

@media only screen and (max-width: 430px) {
  .card {
    width: 100px;
    height: 172px;
  }

  .card__image {
    border-radius: 10px;
  }
}
