.results__item {
  display: flex;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #3c4042;
  border-radius: 15px;
  /* padding: 2rem; */
}

.results__card {
  max-width: 25%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.results__card img {
  width: 100%;
  border-radius: 15px;
  outline: 2px solid black;
  outline-offset: -2px;
}

.results__desc {
  width: 75%;
}

.results__data {
  font-weight: 700;
}

.results__wrapper {
  margin: 1rem;
}

@media only screen and (max-width: 800px) {
  .results__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .results__card {
    max-width: 200px;
    margin-left: 0px;
  }

  .results__desc {
    width: 100%;
  }
}
