.results__item {
    display: flex;
    margin: 0.5rem;
  }
  
  .results__card {
    max-width: 20%;
    margin-right: 2rem;
  }
  
  .results__card img {
    width: 100%;
    border-radius: 27px;
    outline: 2px solid black;
    outline-offset: -2px;
  }
  
  /* .results__desc {
    /* width: 65%; }*/
  