body {
  box-sizing: border-box;
  padding: 3rem;
}

.main {
  /* align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
  /* flex: 1 1 100%; */
}

.cards-area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 20rem);
}

.card {
  perspective: 110rem;
  position: relative;
}

.card__side {
  transition: all 0.8s ease;
  min-height: 18rem;
  min-width: 11rem;
  margin-bottom: 2rem;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}

.card__side--front {
}

.card__side--back {
  transform: rotateY(-180deg);
}

.card:hover .card__side--front {
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__image {
  width: 100%;
  border-radius: 27px;
  outline: 2px solid black;
  outline-offset: -2px;
}

.results {
  padding: 2rem;

  background-color: #f5f5f5;
}

.results__item {
  display: flex;
  margin: 0.5rem;
}

.results__card {
  max-width: 20%;
  margin-right: 2rem;
}

.results__card img {
  width: 100%;
  border-radius: 27px;
  outline: 2px solid black;
  outline-offset: -2px;
}

.results__desc {
  /* width: 65%; */
}
